.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF5D6 url("../../public/assets/pattern.png") center/cover repeat;
}

.login-form-container {
    font-family: 'Dancing Script', serif;
    width: 100%;
    max-width: 26rem;
    position: relative;
}

.login-card,
.login-card-before {
    background: #CFBB65;
    padding: 3rem 2rem;
    border-radius: 4rem;
    color: #CFBB65;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 22rem;
    text-align: center;
    backface-visibility: hidden;
    opacity: 0.6;
    transform-style: preserve-3d;
    transition: transform 01s ease 1s, background 1s ease 1s;
}

.login-card {
    transform: rotateX(0deg);
}

.login-card-before {
    transform: rotateX(180deg);
    background: transparent;
}

.logo,
.logo-before {
    position: absolute;
    width: 50%;
    transition: top 0.8s ease 1s, left 0.8s ease 0.2s;
    z-index: 1;
}

.logo {
    top: -22%;
    left: 50%;
}

.logo-before {
    top: 25%;
    left: 25%;
}

.login-title,
.login-title-before {
    font-size: 2rem;
    color: #3D2E00;
    text-align: left;
    font-family: inherit;
    line-height: 1.2;
    position: absolute;
    z-index: 1;
}

.login-title {
    top: 6%;
    left: 8%;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.8s ease 0.2s, opacity 0.8s ease 0.2s, top 0.8s ease 1s;
 }

.login-title-before {
    top: 54%;
    left: 8%;
    transform: translateX(100%);
    opacity: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.login-input {
    padding: 0.75rem 1rem;
    border: 0.25rem solid #6F6E69;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}

.login-input:focus,
.login-input:hover {
    border-color: black;
}

.divider {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    color: #524A1E;
    font-size: 0.875rem;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 0.0625rem;
    background: #524A1E;
    margin: 0 0.75rem;
}

.login-button,
.google-btn {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    transition: box-shadow 0.2s;
}

.login-button {
    background: #524A1E;
    color: #FFF;
}

.login-button:hover,
.google-btn:hover {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 1);
}

.google-btn {
    background: #FFF;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.google-btn img {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}