.app-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF5D6 url("../../public/assets/pattern.png") center/cover repeat;
}

.app-container {
    width: 100%;
    max-width: 22rem;
    position: relative;
    font-family: 'Dancing Script', serif;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logo {
    width: 8rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    position: absolute;
    z-index: 1000;
}