.login-card {
    background-color: #F8F1E2;
    backdrop-filter: blur(10px);
    padding: 6rem 2rem 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 18rem;
    width: 100%;
}

.login-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F2937;
    margin-bottom: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.login-input {
    height: 2.5rem;
    border: double 2px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(#F8F1E2, #F8F1E2),
    url('../../public/assets/sign-in-hover.png');
    color: #6B7280;
    background-size: 100% 100%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: inherit;
    font-size: 1rem;
    text-indent: 1rem;
    outline: none;
}

.login-input:focus,
.login-input:hover {
    background-image: linear-gradient(#F8F1E2, #F8F1E2),
    url('../../public/assets/sign-in.png');
}

.btn-primary {
    width: 100%;
    padding: 0.5rem 1rem;
    background-image: url('../../public/assets/sign-in.png');
    background-color: transparent;
    background-size: 100% 100%;
    color: #F8F1E2;
    border: none;
    font-size: 1.5rem;
    font-family: inherit;
    cursor: pointer;
    transition: background-image 0.2s;
}

.btn-primary:hover {
    background-image: url('../../public/assets/sign-in-hover.png');
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    height: 3rem;
    border: double 2px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(#F8F1E2, #F8F1E2),
    url('../../public/assets/sign-in-hover.png');
    color: #6B7280;
    background-size: 100% 100%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: background-image 0.2s;
}

.btn-google:hover {
    background-image: linear-gradient(#F8F1E2, #F8F1E2),
    url('../../public/assets/sign-in.png');
    color: #E6B55C;
}

.btn-google img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
}

.forgot-password {
    text-align: center;
    font-size: 0.875rem;
    color: #6B7280;
    margin-top: 1rem;
}

.forgot-password a {
    text-decoration: underline;
    color: inherit;
}

.forgot-password a:hover {
    color: #374151;
}

.footer-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

.footer-text p {
    width: 80%;
    text-align: center;
    color: #374151;
    font-style: inherit;
    font-size: 1.2rem;
}